body { 
  margin: 0; 
  display: flex; 
  flex-direction: column;
}

.navbar, .navbar > ul { 
  display:flex !important;
  flex-direction:row !important;
  justify-content: right !important;
  align-items:center;
  width: 70em;
}

.navbar > ul { 
  justify-content:space-between !important; 
  list-style: none !important;
  font-size: 20px !important;
}

.nav-img {
  width: 75px;
  align-items: left;
  justify-content: left;
}

#root {
  max-width: 1280px !important;
  margin: 0 auto !important;
  padding: 2rem !important;
  text-align: center !important;
}

.project-img {
  width: 378px;
}

.portfolio-container{
  display: grid;
  grid-template-columns: auto auto auto;
  background-color:lightcoral;
  padding: 10px;
  color: #213547;
}

.portfolio-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
}

.contact-logos{
  width: 90px;
  border-radius: 90px;
  padding: 25px;
}

.about-container{
  display: grid;
  grid-template-columns: auto auto;
  background-color:lightcoral;
  padding: 10px;
  color: #213547;
}

.about-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
}
.about-item h3{
  padding-top: 20px;
  padding-bottom: 20px;
}

